@tailwind base;
@tailwind components;
@tailwind utilities;

.cell-closed {
	background-color: #ccc;
	border-top: 2px solid #eee;
	border-left: 2px solid #eee;
	border-right: 2px solid #aaa;
	border-bottom: 2px solid #aaa;
}

.cell-closed:hover {
	opacity: 60%;
}

.cell-opened {
	background-color: #bbb;
	border: 1px solid #aaa;
}

.cell-opened:hover {
	opacity: 80%;
}
